<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.baserecycleradapter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HeaderAndFooterActivity">
        </activity>
        <activity android:name=".activity.AnimationActivity">
        </activity>
        <activity android:name=".activity.ItemAnimationActivity">
        </activity>
        <activity android:name=".activity.PullToRefreshActivity">
        </activity>
        <activity android:name=".activity.EmptyActivity">
        </activity>
        <activity android:name=".activity.DragAndSwipeActivity">
        </activity>
        <activity android:name=".activity.MultiItemActivity">
        </activity>
        <activity android:name=".activity.NavigationActivity">
        </activity>
        <activity android:name=".activity.CustomRefreshActivity">
        </activity>
    </application>

</manifest>