<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.baserecycleradapter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HeaderAndFooterActivity">
        </activity>
        <activity android:name=".AnimationActivity">
        </activity>
        <activity android:name=".ItemAnimationActivity">
        </activity>
        <activity android:name=".PullToRefreshActivity">
        </activity>
        <activity android:name=".EmptyActivity">
        </activity>
        <activity android:name=".DragAndSwipeActivity">
    </activity>
        <activity android:name=".MultiItemActivity">
        </activity>
    </application>

</manifest>